@using System.Data;

@model DataTable

<style type="text/css">
    #p_order_f0_detail table.detail_table th {
        padding: 2px;
        vertical-align: central;
        font-weight: bold;
        text-align: right;
        width: 240px;
    }

    #p_order_f0_detail table.detail_table td {
        padding: 2px;
        vertical-align: central;
    }

        #p_order_f0_detail table.detail_table td input {
            padding: 2px;
            width: 840px;
            height: 24px;
        }
</style>
<div id="p_order_f0_detail">
    @if ((Model != null) && (Model.Columns.Count > 0) && (Model.Rows.Count > 0))
    {
        DataRow row = Model.Rows[0];
        <table class="detail_table" data-primarykey="@row["id"]" style="margin: 4px;">
            <tr>
                <th>График поставки:</th>
                <td>
                    <input type="text"
                           name="график_поставки"
                           value="@row["график_поставки"]" 
                           onkeyup="OrderF0Detail.setUpdateMark(this);"
                           onchange="OrderF0Detail.setUpdateMark(this);" 
                           data-is-changed="0" />
                </td>
                <td>&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <th>Требования по сроку годности:</th>
                <td>
                    <input type="text"
                           name="требования_по_сроку_годности"
                           value="@row["требования_по_сроку_годности"]"
                           onkeyup="OrderF0Detail.setUpdateMark(this);"
                           onchange="OrderF0Detail.setUpdateMark(this);" 
                           data-is-changed="0" />
                </td>
                <td>&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <th>Статус:</th>
                <td>
                    <input type="text"
                           name="статус"
                           value="@row["статус"]" 
                           onkeyup="OrderF0Detail.setUpdateMark(this);"
                           onchange="OrderF0Detail.setUpdateMark(this);" 
                           data-is-changed="0" />
                </td>
                <td>&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <th>Сумма выигыша:</th>
                <td>
                    <input type="text"
                           name="сумма_выигрыша"
                           value="@row["сумма_выигрыша"]"
                           onkeyup="OrderF0Detail.setUpdateMark(this);"
                           onchange="this.value = Nskd.Validator.numberNorm(this.value);" 
                           data-is-changed="0" />
                </td>
                <td>&nbsp;&nbsp;</td>
            </tr>
        </table>
    }
</div>
<script type="text/javascript">
    var OrderF0Detail = (function () {
        OrderF0Command.setControlButtonsDisabled(true, false, false);
        return {
            setUpdateMark: function (element) {
                element.setAttribute('data-is-changed', '1');
                var tr = element;
                while (tr != null && tr.nodeName != 'TR') tr = tr.parentNode;
                $(tr).find('td:last').text('*');
                OrderF0Command.setControlButtonsDisabled(false, null, null);
            },
            getFormDataV2: function () {
                var pars = [];
                var id = $('#p_order_f0_detail table.detail_table').attr("data-primarykey");
                pars.push({ Name: 'id', Value: id });
                $('#p_order_f0_detail table.detail_table input').each(function (index, element) {
                    if (element.getAttribute('data-is-changed') == '1') {
                        pars.push({ Name: element.name, Value: element.value });
                    }
                });
                return pars;
            },
            clearForm: function () {
                $('#p_order_f0_detail table.detail_table input').val('');
            }
        };
    })();
</script>

