@model MvcApplication2.Areas.Order.Models.F0Model
@{
    String ff0 = String.Empty;
    String ff1 = String.Empty;
    String ff20 = String.Empty;
    String ff21 = String.Empty;
    String ff30 = String.Empty;
    String ff31 = String.Empty;
    String ff40 = String.Empty;
    String ff41 = String.Empty;
    String ff50 = String.Empty;
    String ff51 = String.Empty;
    String ff6 = String.Empty;
    String ff7 = String.Empty;
    String fps1 = "selected=\"selected\"";  // только свои
    String fps2 = String.Empty;             // по правам
    String fts1 = String.Empty;             // заявки
    String fts2 = "selected=\"selected\"";  // спецификации
    if (Model != null && Model.FilterFields != null)
    {
        if (Model.FilterFields.ContainsKey("номер_извещения_аукциона")) { ff0 = Model.FilterFields["номер_извещения_аукциона"]; }
        if (Model.FilterFields.ContainsKey("статус_аукциона")) { ff1 = Model.FilterFields["статус_аукциона"]; }
        if (Model.FilterFields.ContainsKey("сумма_лота_min")) { ff20 = Model.FilterFields["сумма_лота_min"]; }
        if (Model.FilterFields.ContainsKey("сумма_лота_max")) { ff21 = Model.FilterFields["сумма_лота_max"]; }
        if (Model.FilterFields.ContainsKey("дата_окончания_подачи_min")) { ff40 = Model.FilterFields["дата_окончания_подачи_min"]; }
        if (Model.FilterFields.ContainsKey("дата_окончания_подачи_max")) { ff41 = Model.FilterFields["дата_окончания_подачи_max"]; }
        if (Model.FilterFields.ContainsKey("дата_проведения_аукциона_min")) { ff50 = Model.FilterFields["дата_проведения_аукциона_min"]; }
        if (Model.FilterFields.ContainsKey("дата_проведения_аукциона_max")) { ff51 = Model.FilterFields["дата_проведения_аукциона_max"]; }
        if (Model.FilterFields.ContainsKey("наименование_заказчика")) { ff6 = Model.FilterFields["наименование_заказчика"]; }
        if (Model.FilterFields.ContainsKey("менеджер")) { ff7 = Model.FilterFields["менеджер"]; }
        if (Model.FilterFields.ContainsKey("perm"))
        {
            String fPerm = Model.FilterFields["perm"];
            if (fPerm == "1") { fps1 = "selected=\"selected\""; }
            if (fPerm == "2") { fps2 = "selected=\"selected\""; }
        }
        if (Model.FilterFields.ContainsKey("type"))
        {
            String fType = Model.FilterFields["type"];
            if (fType == "1") { fts1 = "selected=\"selected\""; }
            if (fType == "2") { fts2 = "selected=\"selected\""; }
        }
    }
}
<style type="text/css">
    #order_f0_filter table.filter-table tr {
        height: 24px;
    }
</style>
<div id="order_f0_filter">
    <table style="width: 100%;"><tr><td style="text-align:center; font-weight:bold;">Фильтр для поиска</td></tr></table>
    <br />
    <form id="p_order_f0_filter_form" novalidate="novalidate">
        <table class="filter-table">
            <tr>
                <td>Номер извещения</td>
                <td colspan="2"><input type="text" name="номер_извещения_аукциона" style="width: 165px;" value="@ff0" /></td>
            </tr>
            <tr>
                <td>Статус аукциона</td>
                <td colspan="2"><input type="text" name="статус_аукциона" style="width: 165px;" value="@ff1" /></td>
            </tr>
            <tr>
                <td>НМЦК</td>
                <td>
                    <input type="text" name="сумма_лота_min" style="width: 80px;" value="@ff20"
                           data-val="true" data-val-number="" data-val-min="0" onchange="this.value = Nskd.Validator.numberNorm(this.value);" />
                </td>
                <td>
                    <input type="text" name="сумма_лота_max" style="width: 80px;" value="@ff21"
                           data-val="true" data-val-number="" data-val-min="0" onchange="this.value = Nskd.Validator.numberNorm(this.value);" />
                </td>
            </tr>
            <tr>
                <td>Дата окончания подачи</td>
                <td>
                    <input type="text" name="дата_окончания_подачи_min" style="width: 80px;" value="@ff40"
                           data-val="true" data-val-date="" onchange="this.value = Nskd.Validator.dateNorm(this.value);" />
                </td>
                <td>
                    <input type="text" name="дата_окончания_подачи_max" style="width: 80px;" value="@ff41"
                           data-val="true" data-val-date="" onchange="this.value = Nskd.Validator.dateNorm(this.value);" />
                </td>
            </tr>
            <tr>
                <td>Дата проведения</td>
                <td>
                    <input type="text" name="дата_проведения_аукциона_min" style="width: 80px;" value="@ff50"
                           data-val="true" data-val-date="" onchange="this.value = Nskd.Validator.dateNorm(this.value);" />
                </td>
                <td>
                    <input type="text" name="дата_проведения_аукциона_max" style="width: 80px;" value="@ff51"
                           data-val="true" data-val-date="" onchange="this.value = Nskd.Validator.dateNorm(this.value);" />
                </td>
            </tr>
            <tr>
                <td>Наименование заказчика</td>
                <td colspan="2"><input type="text" name="наименование_заказчика" style="width: 165px;" value="@ff6" /></td>
            </tr>
            <tr>
                <td>Менеджер</td>
                <td colspan="2"><input type="text" name="менеджер" style="width: 165px;" value="@ff7" /></td>
            </tr>
        </table>
    </form>
    <table id="p_order_f0_filter_add_pars">
        <tr>
            <td>&nbsp;</td>
            <td colspan="2">
                <select class="perm" style="width: 169px;">
                        <option value="1" @fps1>только свои</option>
                        <option value="2" @fps2>по правам</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="2">
                <select name="type" style="width: 169px;">
                    <option value="1" @fts1>спец. к заявке</option>
                    <option value="2" @fts2>спец. к контракту</option>
                </select>
            </td>
        </tr>
    </table>
    <br />
    <input type="button" value="Применить фильтр" onclick="OrderF0Filter.apply();" />
</div>
<script type="text/javascript">
    var OrderF0Filter = (function () {

        var mainDiv = $('#order_f0_filter');

        Nskd.Validator.parse('#p_order_f0_filter_form');

        var perm = $('#p_order_f0_filter_add_pars select.perm');
        var newDataGridReceivedHandlers = [];

        function onNewDataGridReceived(data) {
            for (var hi = 0; hi < newDataGridReceivedHandlers.length; hi++) {
                newDataGridReceivedHandlers[hi](data);
            }
        }

        return {
            addNewDataGridReceivedHandler: function (handler) {
                if (typeof handler === 'function') {
                    newDataGridReceivedHandlers.push(handler);
                }
            },
            apply: function () {
                var rqp = {
                    SessionId: Nskd.Server.SessionId,
                    Command: 'Order.F0.Filter.ApplyFilter',
                    Parameters: []
                };
                mainDiv.find('table.filter-table input').each(function (index, element) {
                    rqp.Parameters.push({ Name: element.name, Value: element.value });
                });
                rqp.Parameters.push({ Name: 'perm', Value: perm.val() });
                rqp.Parameters.push({ Name: 'type', Value: $('#p_order_f0_filter_add_pars select[name="type"]').val() });
                Nskd.Http.post({
                    url: '/Order/F0/ApplyFilter',
                    rqp: rqp,
                    done: function (data) {
                        onNewDataGridReceived(data);
                    }
                });
            }
        };
    })();
</script>
