@using MvcApplication2.Areas.Deposits.Models
@model F0Model
<style type="text/css">
    #p_deposit_f0_detail_customer_table td {
        padding: 2px;
    }
</style>
<div>
    <table>
        <tr>
            <td colspan="2">
                <table id="p_deposit_f0_detail_customer_table">
                    <tr style="display: none;"><td>@Model.DetailData.CustId</td></tr>
                    <tr>
                        <td style="text-align: right;">ИНН:</td>
                        <td style="font-weight: bold;">@Model.DetailData.CustInn</td>
                        <td style="text-align: right;">КПП:</td>
                        <td style="font-weight: bold;">@Model.DetailData.CustKpp</td>
                    </tr>
                    <tr><td style="text-align: right;">Наименование:</td><td colspan="3" style="font-weight: bold;">@Model.DetailData.CustDescr</td></tr>
                    <tr><td style="text-align: right;">Наименование полное:</td><td colspan="3" style="font-weight: bold;">@Model.DetailData.CustFullDescr</td></tr>
                    <tr style="display: none"><td style="text-align: right;">Адрес:</td><td colspan="3" style="font-weight: bold;">@Model.DetailData.CustAddress</td></tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;">
                <div style="width: 400px; height: 300px; overflow: auto">
                    @{ Html.RenderPartial(
                        "~/Views/Shared/DataGridView/Show.cshtml",
                        Model.DetailData.TurnoverByTradeNumber,
                        new ViewDataDictionary() { new KeyValuePair<String, Object>("OnRowSelect", "DepositsF0.detailDataRowSelect") });
                    }
                </div>
            </td>
            <td style="vertical-align: top;">
                <div id="p_deposits_f0_detail_entries" style="height: 300px; overflow: auto">
                </div>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    (function DepositsF0DetailDataOnLoad() {
        var table = $('#p_deposit_f0_detail_customer_table');
        var trs = table.find('tr');
        DepositsF0.custDescr = trs.eq(3).find('td').eq(1).text();
        DepositsF0.custAddress = trs.eq(4).find('td').eq(1).text();
        DepositsF0.custInn = trs.eq(1).find('td').eq(1).text();
        DepositsF0.custKpp = trs.eq(1).find('td').eq(3).text();
    })();
    DepositsF0.detailDataRowSelect = function (row) {
        var tds = $(row).find('td');
        DepositsF0.trNum = $(tds[0]).text();
        DepositsF0.agrNum = $(tds[5]).text();
        DepositsF0.agrDate = $(tds[6]).text();
        var data =
            'id=' + escape('@Model.DetailData.CustId').replace(/\+/g, '%2B') +
            '&trNum=' + escape(DepositsF0.trNum).replace(/\+/g, '%2B') +
            '&onRowSelect=' + escape('DepositsF0.entriesDataRowSelect');
        //Nskd.Js.post();
        $.post('/Deposits/F0/GetEntriesData', data, depositsF0DetailRowSelectSuccess);
        $('#_layout_footer_loading').show();
        $('#p_deposits_f0_detail_entries').empty();
        return;
        function depositsF0DetailRowSelectSuccess(data) {
            $('#_layout_footer_loading').hide();
            $('#p_deposits_f0_detail_entries').html(data);
        }
    };
    DepositsF0.entriesDataRowSelect = function (row) {
        var tds = $(row).find('td');
        DepositsF0.dSum = $(tds[1]).text();
        $('#p_deposits_f0_print_letter_button').prop('disabled', false);
        //alert(DepositsF0.dSum);
    };
</script>
