@using Nskd
@model NpcDataTable
@{
    Int32 count = Model.Columns.Count;
    String[] display = new String[count];
    String[] width = new String[count];
    String[] align = new String[count];
    for (int ci = 0; ci < count; ci++)
    {
        NpcDataColumn dc = Model.Columns[ci];
        Int32 w = (Int32)dc.ExtendedProperties["width"];
        display[ci] = (w == 0) ? "display: none;" : "";
        width[ci] = "width: " + w.ToString() + "px;";
        align[ci] = "text-align: " + (String)dc.ExtendedProperties["alignment"] + ";";
    }
}
<style type="text/css">
    div.agrs_f0_filtered_view th {
        padding: 2px;
        border: 1px solid black;
        font-weight: bold;
    }

    div.agrs_f0_filtered_view td {
        padding: 2px;
        border: 1px solid black;
    }
</style>
<div class="agrs_f0_filtered_view" style="position: relative; width: 100%; height: 100%;">
    <div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 24px; overflow: hidden;">
            <table>
                <tr>
                    @for (int ci = 0; ci < Model.Columns.Count; ci++)
                    {
                        NpcDataColumn dc = Model.Columns[ci];
                        <th style="@display[ci]">
                            <div style="@width[ci] @align[ci] height: 14px; overflow: hidden;">
                                @dc.Caption
                            </div>
                        </th>
                    }
                </tr>
            </table>
    </div>
    <div style="position: absolute; top: 24px; left:0px; bottom: 0px; width: 100%; overflow-x: hidden; overflow-y: auto;">
            <table>
                @foreach (NpcDataRow dr in Model.Rows)
                {
                <tr data-guid="@dr[0]" onclick="f0FilteredViewRowClick(this);">
                    @for (int ci = 0; ci < Model.Columns.Count; ci++)
                        {
                            NpcDataColumn dc = Model.Columns[ci];
                            String text = String.Empty;
                            switch (dc.DataType.ToString())
                            {
                                case "System.DateTime":
                                case "System.Nullable`1[System.DateTime]":
                                    text = String.Format("{0:yyyy-MM-dd}", dr[ci]);
                                    break;
                                case "System.Double":
                                case "System.Nullable`1[System.Double]":
                                    text = String.Format("{0:n2}", dr[ci]);
                                    break;
                                default:
                                    text = String.Format("{0}", dr[ci]);
                                    break;
                            }
                    <td style="@display[ci]">
                        <div style="@width[ci] @align[ci] height: 14px; overflow: hidden;">
                            @text
                        </div>
                    </td>
                        }
                </tr>
                }
            </table>
    </div>
</div>
<script type="text/javascript">
    function f0FilteredViewRowClick(tr) {
        $(tr.parentNode).find('tr').css('background-color', 'transparent');
        $(tr).css('background-color', '#cfc');

        $('#p_agrs_f0_save_button').prop('disabled', true);
        $('#p_agrs_f0_save_button').css('background-color', '#eee');
        $('#p_agrs_f0_add_button').prop('disabled', false);
        $('#p_agrs_f0_add_button').css('background-color', '#eee');
        $('#p_agrs_f0_del_button').prop('disabled', false);
        $('#p_agrs_f0_del_button').css('background-color', '#eee');

        var guid = tr.getAttribute('data-guid');
        var data = 'id=' + escape(guid);
        //alert(data);
        $.post('/Agrs/F0/FilteredView/GetDataForDetailSection', data, function (data) {
            //alert(data);
            $('#agrs_f0_index div.sect_2 div.detail_panel').html(data);
        });
    }
</script>