@using System.Data
@using AreasPrep.Areas.Prep.Models
@model F2Model
<style type="text/css">
    #prep_f2_pr td {
        padding: 2px;
        border: 1px solid black;
    }
</style>
<div id="prep_f2_pr">
    @if (Model.ParsingTables != null)
    {
        for (int ti = 0; ti < Model.ParsingTables.Tables.Count; ti++)
        {
            DataTable dt = Model.ParsingTables.Tables[ti];
            <input type="button" class="p_prep_f2_pr_imp" data-table-index="@ti" value="Выбрать" disabled="disabled" /><br />
            <table data-table-index="@ti">
                <tr style="background-color: #ddd">
                    <td style="background-color: #ddd">&nbsp;</td>
                    @for (int ci = 0; ci < dt.Columns.Count; ci++)
                    {
                        DataColumn col = dt.Columns[ci];
                        String s1 = "";
                        if (col.ColumnName == "МНН") { s1 = "selected=\"selcted\""; }
                        String s2 = "";
                        if (col.ColumnName == "Описание") { s2 = "selected=\"selcted\""; }
                        String s3 = "";
                        if (col.ColumnName == "Ед. изм.") { s3 = "selected=\"selcted\""; }
                        String s4 = "";
                        if (col.ColumnName == "Кол-во") { s4 = "selected=\"selcted\""; }
                        <td>
                            <select class="col_select" data-table-index="@ti" style="background-color: #fff">
                                <option value="0">&nbsp;</option>
                                <option value="1" @s1>МНН</option>
                                <option value="2" @s2>Описание</option>
                                <option value="3" @s3>Ед. изм.</option>
                                <option value="4" @s4>Кол-во</option>
                            </select>
                        </td>
                    }
                </tr>
                @for (int ri = 0; ri < dt.Rows.Count; ri++)
                {
                    DataRow row = dt.Rows[ri];
                    <tr>
                        <td style="background-color: #ddd"><input type="checkbox" checked="checked" /></td>
                        @for (int ci = 0; ci < dt.Columns.Count; ci++)
                        {
                            DataColumn col = dt.Columns[ci];
                            <td>@row[col].ToString()</td>
                        }
                    </tr>
                }
            </table>
            <br />
        }
    }
    <div id="p_prep_f2_pr_msg">
        @TempData["q"]
    </div>
</div>
<script type="text/javascript">
    var PrepF2ParsingResult = (function () {
        var mainDiv = $('#prep_f2_pr');
        var colSelectors = mainDiv.find('select.col_select');
        var impButtons = $('.p_prep_f2_pr_imp');
        colSelectors.change(colSelectorsChange);
        colSelectorsChange();
        function colSelectorsChange() {
            //перебираем все таблицы
            for (var ti = 0; true; ti++) {
                fColSelectors = colSelectors.filter('[data-table-index="' + ti + '"]');
                if (fColSelectors.length == 0) break;
                fImpButton = impButtons.filter('[data-table-index="' + ti + '"]');
                var cnt = [0, 0, 0, 0, 0];
                // считаем количество выбранных колонок для каждого заголовка
                fColSelectors.each(function (index, element) {
                    cnt[element.value]++;
                });
                // проверяем что заголовки не повторяются (кроме "Описание")
                fColSelectors.each(function (index, element) {
                    var bgc = '#fff';
                    if (element.value == 1 && cnt[1] > 1) { bgc = '#fdd'; }
                    if (element.value == 3 && cnt[3] > 1) { bgc = '#fdd'; }
                    if (element.value == 4 && cnt[4] > 1) { bgc = '#fdd'; }
                    $(element).css('background-color', bgc);
                });
                if (cnt[1] == 1 && cnt[2] >= 1 && cnt[3] == 1 && cnt[4] == 1) {
                    fImpButton.prop('disabled', false);
                } else {
                    fImpButton.prop('disabled', true);
                }
            }
        }
        impButtons.click(function (event) {
            var impButton = $(event.target);
            impButton.prop('disabled', true);
            var ti = impButton.attr('data-table-index');
            PrepF2ParsingResult.imp(ti);
        });
        return {
            imp: function (ti) {
                var pars = [];
                var trs = mainDiv.find('table[data-table-index="' + ti + '"] tr');
                // в первой строке надо найти отметки колонок по типу
                var colTypes = [];
                var tds = trs.eq(0).find('td');
                tds.each(function (index, element) {
                    if (index == 0) {
                        colTypes.push(0);
                    } else {
                        colTypes.push($(element).find('select').val());
                    }
                });
                // для всех остальных строк собираем 4 поля
                var ri = 0;
                trs.each(function (rIndex, element) {
                    tds = $(element).find('td');
                    if (rIndex > 0 && tds.eq(0).find('input').prop('checked')) {
                        var vs = ['', '', '', ''];
                        tds.each(function (cIndex, element) {
                            if (cIndex > 0) {
                                if (colTypes[cIndex] > 0) {
                                    vs[colTypes[cIndex] - 1] += (((vs[colTypes[cIndex] - 1]) != '') ? ' ' : '') + $(element).text();
                                }
                            }
                        });
                        for (var ci = 0; ci < vs.length; ci++) {
                            pars.push({ Name: 't[' + ri + '][' + ci + ']', Value: vs[ci] });
                        }
                        ri++;
                    }
                });
                PrepF2Index.setTableParameters(pars);
            }
        };
    })();
</script>
