@using System.Data
@model AreasItems.Areas.Items.Models.GroupsModel
<style>
    #p_items_grousp_group_part th {
        padding: 2px;
        border: 1px solid black;
        font-weight: bold;
    }

    #p_items_grousp_group_part td {
        padding: 2px;
        border: 1px solid black;
    }

    #p_items_grousp_group_part .selected {
        background-color: #ddffdd;
    }
</style>
<div id="p_items_grousp_group_part">
    @if (Model != null && Model.Groups != null && Model.Groups.Rows.Count > 0)
    {
        <p>Всего позиций: <span>@Model.Groups.Rows.Count</span></p>
        <table>
            <colgroup>
                <col width="200" />
                <col width="200" />
                <col width="150" />
                <col width="200" />
                <col width="100" />
                <col width="200" />
                <col width="150" />
            </colgroup>
            <tr>
                <th>Наименование</th>
                <th>Форма выпуска</th>
                <th>Дозировка</th>
                <th>Упаковка</th>
                <th>№</th>
                <th>Производитель</th>
                <th>Страна</th>
            </tr>
            @foreach (DataRow dr in Model.Groups.Rows)
            {
                <tr data-group-id="@dr["id"]" onclick="ItemsGroupsGroupPart.select(this)">
                    <td>@dr["наименование"]</td>
                    <td>@dr["форма_выпуска"]</td>
                    <td>@dr["дозировка"]</td>
                    <td>@dr["упаковка"]</td>
                    <td>@dr["количество"]</td>
                    <td>@dr["производитель"]</td>
                    <td>@dr["страна"]</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>Групп соответствующих фильтру нет.</p>
    }
</div>
<script type="text/javascript">
    //if (typeof (ItemsGroupsGroupPart) === 'undefined') {          ! Включить после отладки
    var ItemsGroupsGroupPart = (function () {
        var mainDiv = $('#p_items_grousp_group_part');
            return {
                unmarkRows: function () {
                    mainDiv.find('tr.selected').removeClass('selected');
                },
                select: function (tr) {
                    tr = $(tr);
                    // если строка уже выбрана, то второй раз выбирать не надо
                    if (!tr.hasClass('selected')) {
                        ItemsGroupsGroupPart.unmarkRows();
                        tr.addClass('selected');
                        var gid = tr.attr('data-group-id');
                        ItemsGroupsIndex.setSelectedGroupId(gid);
                        var rqp = {
                            SessionId: Nskd.Server.SessionId,
                            Command: 'Items.Groups.GroupPart.SelectGroup',
                            Parameters: [
                                { Name: 'gid', Value: gid }
                            ]
                        };
                        Nskd.Http.post({
                            url: '/Items/Groups/SelectGroup',
                            rqp: rqp,
                            done: function (data) {
                                //alert(data);
                                ItemsGroupsIndex.showBlockWithItemsInGroup(data);
                            },
                            fail: null,
                            wMsg: 'Заргузка данных с сервера ...',
                            dMsg: 'OK',
                            fMsg: '<font color="red">Ошибка при заргузке данных с сервера.</font>'
                        });
                    }
                }
            };
        })();
    //}
</script>
