@using System.Data
@model DataTable
<div style="width: 320px; overflow: hidden;">
    <div style="padding: 4px; text-align: center; font-size: 14pt; height: 30px;">
        <span>Фильтр для поиска</span>
    </div>
    <form id="p_docs1c_f0_filter_form" novalidate="novalidate" onsubmit="docs1cF0FilterRefresh(); return false;">
        <div style="padding: 4px;">
            <table>
                @for (int ci = 0; ci < Model.Columns.Count; ci++)
                {
                    DataColumn dc = Model.Columns[ci];
                    Int32 w = (Int32)dc.ExtendedProperties["width"];
                    if (w != 0)
                    {
                        <tr style="height: 30px;">
                            <td style="padding: 2px; width: 120px;">@dc.Caption</td>
                            @switch (dc.DataType.ToString())
                            {
                                case "System.DateTime":
                                    <td style="vertical-align:top;">
                                        <input type="text"
                                               name="@(dc.ColumnName + "min")"
                                               style="padding: 2px; width: 80px;"
                                               value="@Model.Rows[0][ci]"
                                               data-val="true" data-val-date="" data-val-minlength="10"
                                               onchange="this.value = Nskd.Validator.dateNorm(this.value);" />
                                    </td>
                                    <td style="vertical-align:top;">
                                        <div style="width: 14px;"></div>
                                    </td>
                                    <td style="vertical-align:top;">
                                        <input type="text"
                                               name="@(dc.ColumnName + "max")"
                                               style="padding: 2px; width: 80px;"
                                               value="@Model.Rows[1][ci]"
                                               data-val="true" data-val-date="" data-val-minlength="10"
                                               onchange="this.value = Nskd.Validator.dateNorm(this.value);" />
                                    </td>
                                    break;
                                case "System.Decimal":
                                case "System.Double":
                                case "System.Int32":
                                <td style="vertical-align:top;">
                                    <input type="text"
                                           name="@(dc.ColumnName + "min")"
                                           style="padding: 2px; width: 80px;"
                                           value="@Model.Rows[0][ci]"
                                           data-val="true" data-val-number="" data-val-min="0"
                                           onchange="this.value = Nskd.Validator.numberNorm(this.value);" />

                                </td>
                                <td style="vertical-align:top;">
                                    <div style="width: 14px;"></div>
                                </td>
                                <td style="vertical-align:top;">
                                    <input type="text"
                                           name="@(dc.ColumnName + "max")"
                                           style="padding: 2px; width: 80px;"
                                           value="@Model.Rows[1][ci]"
                                           data-val="true" data-val-number="" data-val-min="0"
                                           onchange="this.value = Nskd.Validator.numberNorm(this.value);" />
                                </td>
                                    break;
                                default:
                                <td colspan="3">
                                    <input type="text"
                                           name="@dc.ColumnName"
                                           style="padding: 2px; width: 180px;"
                                           value="@Model.Rows[0][ci]" />
                                </td>

                                    break;
                            }
                        </tr>
                    }
                }
                <tr>
                    <td colspan="4" style="text-align: right;">
                        <input type="submit"
                               id="p_docs1c_f0_apply_filter"
                               style="padding: 4px; width: 140px;"
                               value="Применить фильтр" />
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
<script type="text/javascript">

    Nskd.Validator.parse('#p_docs1c_f0_filter_form');

    function docs1cF0FilterRefresh() {

        $('#p_docs1c_f0_apply_filter').prop('disabled', true);
        $('#p_docs1c_f0_data_grid_panel').empty();
        $('#p_docs1c_f0_save_button').prop('disabled', true);
        $('#p_docs1c_f0_save_button').css('background-color', '#eee');
        $('#p_docs1c_f0_detail_panel').empty();

        Nskd.Js.post('/Docs1c/F0/Filter', 'p_docs1c_f0_filter_form', docs1cF0FilterRefreshSuccess, 'p_docs1c_f0_data_grid_panel', '_layout_footer_loading');
    }

    function docs1cF0FilterRefreshSuccess() {
        $('#p_docs1c_f0_apply_filter').prop('disabled', false);
    }
</script>