@using System;
@using System.Data;

@model MvcApplication2.Areas.Prep.Models.F0Model

<style type="text/css">
    #p_prep_f0_filtered_view table.data_table tr.data_row:hover {
        background-color: #ffeeff;
    }

    #p_prep_f0_filtered_view table.data_table tr.selected {
        background-color: #ffddff;
    } 
    
    #p_prep_f0_filtered_view table.data_table th {
        border: 1px solid black;
        font-weight: bold;
        padding: 2px;
        text-align: center;
    }

    #p_prep_f0_filtered_view table.data_table td {
        border: 1px solid black;
        padding: 2px;
    }
</style>
<div id="p_prep_f0_filtered_view">
    @if ((Model != null) && 
        (Model.FilteredData != null) &&
        (Model.FilteredData.Columns.Count > 0))
    {
        <table class="data_table">
            <tr>
                <th>Номер закупки</th>
                <th>Тип</th>
                <th>Статус аукциона</th>
                <th style="width: 80px">НМЦК</th>
                <th style="width: 72px">Дата окончания подачи</th>
                <th style="width: 72px">Дата проведения</th>
                <th>Наименование заказчика</th>
                <th>Менеджер</th>
                <th>trc</th>
            </tr>
            @foreach (DataRow row in Model.FilteredData.Rows)
            {
                Object o;
                String num1 = ((o = row["сумма_лота"]) == DBNull.Value) ? "" : ((Decimal)o).ToString("# ### ### ##0.00");
                String date1 = ((o = row["дата_окончания_подачи"]) == DBNull.Value) ? "" : ((DateTime)o).ToString("dd.MM.yyyy");
                String date2 = ((o = row["дата_проведения_аукциона"]) == DBNull.Value) ? "" : ((DateTime)o).ToString("dd.MM.yyyy");
                <tr onclick="PrepF0FilterView.selectRow(this)" data-primarykey="@row["id"]" class="data_row">
                    <td>@row["номер_извещения_аукциона"]</td>
                    <td>@row["auction_type"]</td>
                    <td>@row["статус_аукциона"]</td>
                    <td style="text-align: right">@num1</td>
                    <td style="text-align: right">@date1</td>
                    <td style="text-align: right">@date2</td>
                    <td>@row["наименование_заказчика"]</td>
                    <td>@row["менеджер"]</td>
                    <td>@row["количество_строк_в_табличной_части"]</td>
                </tr>
            }
        </table>
    }
</div>
<script type="text/javascript">
    var PrepF0FilterView = (function () {
        var selectedRow = null;
        var selectedRowAuctionNumber = null;
        return {
            selectRow: function (tr) {
                var row = $(tr);

                if (selectedRow != null) {
                    selectedRow.removeClass('selected');
                }
                selectedRow = row;
                row.addClass('selected');

                selectedRowAuctionNumber = row.find('td').eq(0).text();

                PrepF0.showDetail(row);
            },
            getSelectedRowAuctionNumber: function () {
                return selectedRowAuctionNumber;
            }
        };
    })();
</script>