@using System.Data
@model DataTable
@{
    Int32 count = Model.Columns.Count;
    String[] display = new String[count];
    String[] width = new String[count];
    String[] align = new String[count];
    for (int ci = 0; ci < count; ci++)
    {
        DataColumn dc = Model.Columns[ci];
        Int32 w = (Int32)dc.ExtendedProperties["width"];
        display[ci] = (w == 0) ? "display: none;" : "";
        width[ci] = "width: " + w.ToString() + "px;";
        align[ci] = "text-align: " + (String)dc.ExtendedProperties["alignment"] + ";";
    }
}
<style type="text/css">
    .filtered-view-th {
        padding: 2px;
        border: 1px solid black;
        font-weight: bold;
    }

    .filtered-view-td {
        padding: 2px;
        border: 1px solid black;
    }
</style>
<div style="height: 380px; padding: 2px;">
    <div style="height: 30px;">
        <table>
            <tr>
                @for (int ci = 0; ci < Model.Columns.Count; ci++)
                {
                    DataColumn dc = Model.Columns[ci];
                    <th class="filtered-view-th" style="@display[ci]">
                        <div style="@width[ci] @align[ci] height: 14px; overflow: hidden;">
                            @dc.Caption
                        </div>
                    </th>
                }
                <td><div style="width: 20px;"></div></td>
            </tr>
        </table>
    </div>
    <div style="height: 340px; overflow: auto;">
        <table>
            @foreach (DataRow dr in Model.Rows)
            {
                <tr data-guid="@dr[0]" onclick="docs1cF0FilteredViewRowClick(this);">
                    @for (int ci = 0; ci < Model.Columns.Count; ci++)
                    {
                        DataColumn dc = Model.Columns[ci];
                        String text = String.Empty;
                        switch (dc.DataType.ToString())
                        {
                            case "System.DateTime":
                                text = String.Format("{0:yyyy-MM-dd}", dr[ci]);
                                break;
                            case "System.Decimal":
                            case "System.Double":
                                text = String.Format("{0:n2}", dr[ci]);
                                break;
                            default:
                                text = String.Format("{0}", dr[ci]);
                                break;
                        }
                        <td class="filtered-view-td" style="@display[ci]">
                            <div style="@width[ci] @align[ci] height: 14px; overflow: hidden;">
                                @text
                            </div>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
<script type="text/javascript">
    function docs1cF0FilteredViewRowClick(tr) {
        $(tr.parentNode).find('tr').css('background-color', 'transparent');
        $(tr).css('background-color', '#cfc');

        $('#p_docs1c_f0_save_button').prop('disabled', true);
        $('#p_docs1c_f0_save_button').css('background-color', '#eee');

        var guid = tr.getAttribute('data-guid');
        var data = 'id=' + escape(guid);
        //alert(data);
        $.post('/Docs1c/F0/Detail', data, function (data) {
            //alert(data);
            $('#p_docs1c_f0_detail_panel').empty();
            $('#p_docs1c_f0_detail_panel').html(data);
        });
    }
</script>