@using System.Data
@model DataColumn
@{
    DataRow row = Model.Table.Rows[0];
    DataColumn col = Model;
    String dbName = col.ExtendedProperties["dbName"] as String;
    String style = "style=\"width: 320px;";
    Boolean ro = (Boolean)col.ExtendedProperties["readonly"];
    style += ro ? " background-color: #ccc;\" readonly=\"readonly\"" : "\"";
}
<div style="overflow: hidden;">
    @switch ((String)col.ExtendedProperties["relTable"])
    {
        default:
            String value = String.Empty;
            switch (col.DataType.ToString())
            {
                case "System.DateTime":
                    value = String.Format("{0:yyyy-MM-dd}", row[col]);
                    <input type="text"
                           value="@value"
                           @Html.Raw(style)
                           data-val="true" data-val-date="" data-val-minlength="10"
                           onchange="this.value = Nskd.Validator.dateNorm(this.value);" />
                    break;
                case "System.Decimal":
                case "System.Double":
                case "System.Int32":
                    value = String.Format("{0:#########.##}", row[col]);
                    <input type="text"
                           value="@value"
                           @Html.Raw(style)
                           data-val="true" data-val-number="" data-val-min="0"
                           onchange="this.value = Nskd.Validator.numberNorm(this.value);" />
                    break;
                default:
                    value = String.Format("{0}", row[col]);
                    <input type="text"
                           value="@value"
                           @Html.Raw(style) />
                    break;
            }
            break;
    }
</div>
