@using System.Data
@using FarmSib.Base.Models
@using FarmSib.Base.Lib
@model AreasPrep.Areas.Prep.Models.F1Model
<style type="text/css">
    /* это надо для валидации. рисует красную рамку и если её нет, то нужна чёрная. иначе всё смещается.*/
    input {
        border: 1px solid black;
    }

        input.error {
            border: 1px solid red;
        }

    #p_prep_f1 {
        font-family: Arial, sans-serif;
        font-size: 9pt;
    }

    #p_prep_f1_search {
        height: 500px;
        width: 1020px;
        overflow: auto;
    }

    #p_prep_f1_calc_panel {
        width: 280px;
        overflow: auto;
    }

        #p_prep_f1_calc_panel tr {
            height: 20px;
        }

        #p_prep_f1_calc_panel td {
            padding: 2px;
        }

    #p_prep_f1_panel_selector td {
        padding: 2px;
    }

    div#p_prep_f1_panel_selector input {
        width: auto;
    }
</style>
<div id="p_prep_f1">
    <input type="hidden" id="p_prep_f1_current_id" value="@Model.Id" />
    <div style="height: 420px; overflow: hidden;">
        <div id="p_prep_f1_panel_selector">
            <table>
                <tr>
                    <td>Заявка №</td>
                    <td>@Model.Id</td>
                    <td>&nbsp;|&nbsp;</td>
                    <td>обновлять описание формы</td>
                    <td><input type="checkbox" id="p_prep_f1_panel_selector_f" checked="checked" /></td>
                    <td>&nbsp;|&nbsp;</td>
                    <td>влючать упаковки в описание формы</td>
                    <td><input type="checkbox" id="p_prep_f1_panel_selector_u" checked="checked" /></td>
                    <td>&nbsp;|&nbsp;</td>
                    <td>влючать № в описание формы</td>
                    <td><input type="checkbox" id="p_prep_f1_panel_selector_n" /></td>
                </tr>
            </table>
        </div>
        <hr style="color: black; height: 1px;" />
        @{ Html.RenderPartial("~/Areas/Prep/Views/F1/Table.cshtml", Model); }
    </div>
    <br />
    <table>
        <tr>
            <td style="vertical-align: top;">
                <div id="p_prep_f1_search">
                    @{ Html.RenderPartial("~/Areas/Tn/Views/SrcSelector.cshtml"); }
                    <div id="p_items_search_mnn_selector" style="margin: 8px;">
                        @{ Html.RenderPartial("~/Areas/Tn/Views/MnnSelector.cshtml", new ViewDataDictionary() { { "SrcList", "0,0,0,0,0,6" } }); }
                    </div>
                    <div id="p_items_search_tn_selector" style="margin: 8px;">
                        @{ Html.RenderPartial("~/Areas/Tn/Views/TnSelector.cshtml", new ViewDataDictionary() { { "SrcList", "0,0,0,0,0,6" } }); }
                    </div>
                </div>
            </td>
            <td style="vertical-align: top;">
                <div id="p_prep_f1_calc_panel" style="border: 1px solid black;">
                    @{
                        Decimal d1 = 0; // 
                        Decimal d2 = 0; // всего_по_закупке
                        Decimal d3 = 0; // сумма_лота
                        Decimal d4 = 0; // начальная_маржа
                        Decimal d5 = 0; // предельная_оптовая_сумма_всего
                        Decimal d6 = 0; // предельная_розничная_сумма_всего
                        Decimal d7 = 0; // всего_по_спецификации (сумма_продажи_всего)
                        Decimal d8 = 0; // сумма_выигрыша
                        if (Model != null && Model.Head_dt != null && Model.Head_dt.Rows.Count > 0)
                        {
                            DataRow row_dr = Model.Head_dt.Rows[0];
                            d2 = (Decimal)Nskd.Convert.ChangeType(row_dr["всего_по_закупке"], typeof(Decimal), true);
                            d3 = (Decimal)Nskd.Convert.ChangeType(row_dr["сумма_лота"], typeof(Decimal), true);
                            d4 = (Decimal)Nskd.Convert.ChangeType(row_dr["начальная_маржа"], typeof(Decimal), true);
                            d5 = (Decimal)Nskd.Convert.ChangeType(row_dr["предельная_оптовая_сумма_всего"], typeof(Decimal), true);
                            d6 = (Decimal)Nskd.Convert.ChangeType(row_dr["предельная_розничная_сумма_всего"], typeof(Decimal), true);
                            d7 = (Decimal)Nskd.Convert.ChangeType(row_dr["всего_по_спецификации"], typeof(Decimal), true);
                            d8 = (Decimal)Nskd.Convert.ChangeType(row_dr["сумма_выигрыша"], typeof(Decimal), true);
                        }
                        String d2f = String.Format("{0:# ### ##0.00}", d2);
                        String d3f = String.Format("{0:# ### ##0.00}", d3);
                        String d4f = String.Format("{0:# ### ##0.00}", d4);
                        String f6 = String.Format("{0:# ### ##0.00}", d2 * (1 + (d1 / 100))); // sumOfLim
                        String f7 = String.Format("{0:# ### ##0}", d1);
                        String d5f = String.Format("{0:# ### ##0.00}", d5);
                        String d6f = String.Format("{0:# ### ##0.00}", d6);
                        String d7f = String.Format("{0:# ### ##0.00}", d7);
                        String d8f = String.Format("{0:# ### ##0.00}", d8);
                    }
                    <table>
                        <colgroup>
                            <col width="260" />
                        </colgroup>
                        <!--
                        <tr style="display: none;"><td>Номер извещения</td></tr>
                        <tr style="display: none; border-bottom: 1px solid black;"><td style="text-align: right;">Model.Head_dt.Rows[0]["номер_извещения_аукциона"]</td></tr>
                        <tr style="display: none;"><td>Заказчик</td></tr>
                        <tr style="display: none; border-bottom: 1px solid black;"><td style="text-align: right;">Model.Head_dt.Rows[0]["наименование_заказчика"]</td></tr>
                        -->
                        <tr><td>Сумма закупки всего</td></tr>
                        <tr style="border-bottom: 1px solid black;"><td style="text-align: right;"><span id="p_prep_f1_calc_panel_table_total1">@d2f</span></td></tr>
                        <tr><td>Предельная оптовая сумма всего</td></tr>
                        <tr style="border-bottom: 1px solid black;"><td style="text-align: right;"><span id="p_prep_f1_calc_panel_table_total2">@d5f</span></td></tr>
                        <tr><td>Предельная розничная сумма всего</td></tr>
                        <tr style="border-bottom: 1px solid black;"><td style="text-align: right;"><span id="p_prep_f1_calc_panel_table_total3">@d6f</span></td></tr>
                        <tr><td>Cумма продажи всего</td></tr>
                        <tr style="border-bottom: 1px solid black;"><td style="text-align: right;"><span id="p_prep_f1_calc_panel_table_total4">@d7f</span></td></tr>
                        <tr><td>Cумма выигрыша</td></tr>
                        <tr style="border-bottom: 1px solid black;"><td style="text-align: right;"><span id="p_prep_f1_calc_panel_table_total5">@d8f</span></td></tr>
                        <tr><td>НМЦК</td></tr>
                        <tr style="border-bottom: 1px solid black;"><td style="text-align: right;"><span id="p_prep_f1_calc_panel_lot">@d3f</span></td></tr>
                        <!--
                        <tr style="display: none;"><td>Начальная маржа</td></tr>
                        <tr style="display: none; border-bottom: 1px solid black;"><td style="text-align: right;"><span id="p_prep_f1_calc_panel_mu">@d4f</span></td></tr>
                        <tr style="display: none;"><td>Сумма лимита</td></tr>
                        <tr style="display: none; border-bottom: 1px solid black;"><td style="text-align: right;"><span id="p_prep_f1_calc_panel_lim_sum">@f6</span></td></tr>
                        <tr style="display: none;"><td>Процент лимита</td></tr>
                        <tr style="display: none; border-bottom: 1px solid black;">
                            <td style="text-align: right;">
                                <input type="text" id="p_prep_f1_calc_panel_lim_proc" value="@f7" style="text-align: right;" onchange="Nskd.Validator.nNorm(this, 0); PrepF1Index.limOnChange();" />
                            </td>
                        </tr>
                        <tr style="display: none;">
                            <td><input type="button" value="Сохранить" onclick="alert('Пока не работает.');" /></td>
                        </tr>
                        -->
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    var PrepF1Index = (function () {
        if (typeof ItemsSharedSrcSelector === 'object' && ItemsSharedSrcSelector !== null) {
            ItemsSharedSrcSelector.addSrcOnChangeHandler(refreshSrc);
        }
        function refreshSrc(args) {
            var srcList = args[0];
            if (typeof (TnSelector) !== "undefined") {
                TnSelector.setSrcList(srcList);
            }
        }
        function calc() {
            //var t = parseFloat($('#p_prep_f1_calc_panel_table_total1').text().replace(',', '.').replace(/[^\d\.]/g, ''));
            //var lot = parseFloat($('#p_prep_f1_calc_panel_lot').text().replace(',', '.').replace(/[^\d\.]/g, ''));
            //var lp = parseFloat($('#p_prep_f1_calc_panel_lim_proc').val().replace(',', '.').replace(/[^\d\.]/g, ''));
            //$('#p_prep_f1_calc_panel_lim_sum').text((t * (1 + (lp / 100))).toFixed(2));
            //$('#p_prep_f1_calc_panel_mu').text((((lot / t) - 1) * 100).toFixed(2));
        }
        return {
            refresh: function (id) {
                $('#p_prep_f1_current_id').val(id);
                var data = 'id=' + id;
                $.post('Prep/F1', data, function (data) {
                    $('#p_prep_f1').html(data);
                });
            },
            refreshSrc: refreshSrc,
            mnnOnChange: function (mnn, exactly) {
                TnSelector.searchByMnn(mnn, exactly);
            },
            tnOnChange: function (dataSet, rCode, fCode, uCode, sCode, cCode, ocData) {
                PrepF1Table.addRow(dataSet, rCode, fCode, uCode, sCode, cCode, ocData);
            },
            onTableTotalChange: function (total1, total2, total3, total4) {
                $('#p_prep_f1_calc_panel_table_total1').text(total1.toFixed(2));
                $('#p_prep_f1_calc_panel_table_total2').text((total2).toFixed(2));
                $('#p_prep_f1_calc_panel_table_total3').text((total3).toFixed(2));
                calc();
            },
            limOnChange: function () {
                calc();
            }
        };
    })();
    MnnSelector.addMnnSelectHandler(PrepF1Index.mnnOnChange);
    TnSelector.addTnSelectHandler(PrepF1Index.tnOnChange);
    PrepF1Table.addTotalChangeHandler(PrepF1Index.onTableTotalChange);
    if (typeof ItemsSharedSrcSelector === 'object' && ItemsSharedSrcSelector !== null) {
        PrepF1Index.refreshSrc(ItemsSharedSrcSelector.getState());
    }
    var PageZIndex = 1;
    //PrepF1Index.refreshSrc();
</script>
