@using System.Data
@using MvcApplication2.Areas.Order.Models
@model F2Model
<style type="text/css">
    #p_order_f2_pr td {
        padding: 2px;
        border: 1px solid black;
    }
</style>
<div id="p_order_f2_pr">
    @if (Model.ParsingTables != null)
    {
        for (int ti = 0; ti < Model.ParsingTables.Tables.Count; ti++)
        {
            DataTable dt = Model.ParsingTables.Tables[ti];
            <input type="button" class="p_order_f2_pr_imp" data-table-index="@ti" value="Выбрать" disabled="disabled" /><sapn>@dt.TableName</sapn><br />
            <table data-table-index="@ti">
                <tr style="background-color: #ddd">
                    <td style="background-color: #ddd">&nbsp;</td>
                    @for (int ci = 0; ci < dt.Columns.Count; ci++)
                    {
                        DataColumn col = dt.Columns[ci];
                        String selected = "selected=\"selected\"";
                        String s0 = String.Empty;
                        String s1 = (col.ColumnName == "МНН") ? selected : String.Empty;
                        String s2 = (col.ColumnName == "Наименование") ? selected : String.Empty;
                        String s3 = (col.ColumnName == "Описание") ? selected : String.Empty;
                        String s4 = (col.ColumnName == "Производитель") ? selected : String.Empty;
                        String s5 = (col.ColumnName == "Страна") ? selected : String.Empty;
                        String s6 = (col.ColumnName == "Ед. изм.") ? selected : String.Empty;
                        String s7 = (col.ColumnName == "Кол-во") ? selected : String.Empty;
                        String s8 = (col.ColumnName == "Цена зак.") ? selected : String.Empty;
                        String s9 = (col.ColumnName == "Сумма зак.") ? selected : String.Empty;
                        String s10 = (col.ColumnName == "Цена с НДС") ? selected : String.Empty;
                        String s11 = (col.ColumnName == "Сумма с НДС") ? selected : String.Empty;
                        <td>
                            <select class="p_order_f2_pr_col_select" data-table-index="@ti" style="background-color: #fff">
                                <option value="0" @s0>&nbsp;</option>
                                <option value="1" @s1>МНН</option>
                                <option value="2" @s2>Наименование</option>
                                <option value="3" @s3>Описание</option>
                                <option value="4" @s4>Производитель</option>
                                <option value="5" @s5>Страна</option>
                                <option value="6" @s6>Ед. изм.</option>
                                <option value="7" @s7>Кол-во</option>
                                <option value="8" @s8>Цена закуп.</option>
                                <option value="9" @s9>Сумма закуп.</option>
                                <option value="10" @s10>Цена с НДС</option>
                                <option value="11" @s11>Сумма с НДС</option>
                            </select>
                        </td>
                    }
                </tr>
                @for (int ri = 0; ri < dt.Rows.Count; ri++)
                {
                    DataRow row = dt.Rows[ri];
                    <tr>
                        <td style="background-color: #dddddd"><input type="checkbox" checked="checked" /></td>
                        @for (int ci = 0; ci < dt.Columns.Count; ci++)
                        {
                            DataColumn col = dt.Columns[ci];
                            <td>@row[col].ToString()</td>
                        }
                    </tr>
                }
            </table>
            <br />
        }
    }
    <div id="p_order_f2_pr_msg">
        @TempData["q"]
    </div>
</div>
<script type="text/javascript">
    var OrderF2ParsingResult = (function () {
        var mainDiv = $('#p_order_f2_pr');
        var colSelectors = $('.p_order_f2_pr_col_select');
        var impButtons = $('.p_order_f2_pr_imp');
        colSelectors.change(colSelectorsChange);
        colSelectorsChange();
        function colSelectorsChange() {
            //перебираем все таблицы
            for (var ti = 0; true; ti++) {
                fColSelectors = colSelectors.filter('[data-table-index="' + ti + '"]');
                if (fColSelectors.length == 0) break;
                fImpButton = impButtons.filter('[data-table-index="' + ti + '"]');
                var cnt = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
                // считаем количество выбранных колонок для каждого заголовка
                fColSelectors.each(function (index, element) {
                    cnt[element.value]++;
                });
                // проверяем что заголовки не повторяются (кроме "Описание")
                fColSelectors.each(function (index, element) {
                    var bgc = '#ffffff';
                    //if (element.value == 0 && cnt[0] > 1) { bgc = '#ffdddd'; }
                    if (element.value == 1 && cnt[1] > 1) { bgc = '#ffdddd'; }
                    if (element.value == 2 && cnt[2] > 1) { bgc = '#ffdddd'; }
                    //if (element.value == 3 && cnt[3] > 1) { bgc = '#ffdddd'; }
                    if (element.value == 4 && cnt[4] > 1) { bgc = '#ffdddd'; }
                    if (element.value == 5 && cnt[5] > 1) { bgc = '#ffdddd'; }
                    if (element.value == 6 && cnt[6] > 1) { bgc = '#ffdddd'; }
                    if (element.value == 7 && cnt[7] > 1) { bgc = '#ffdddd'; }
                    if (element.value == 8 && cnt[8] > 1) { bgc = '#ffdddd'; }
                    if (element.value == 9 && cnt[9] > 1) { bgc = '#ffdddd'; }
                    if (element.value == 10 && cnt[10] > 1) { bgc = '#ffdddd'; }
                    if (element.value == 11 && cnt[11] > 1) { bgc = '#ffdddd'; }
                    $(element).css('background-color', bgc);
                });
                // мнн и сумму можно пропустить остальные колонки должны быть выбраны
                fImpButton.prop('disabled', false);
                if (cnt[2] == 1 && cnt[3] >= 1 && cnt[4] == 1 && cnt[5] == 1 && cnt[6] == 1 && cnt[7] == 1 && cnt[8] == 1 && cnt[10] == 1) {
                    //fImpButton.prop('disabled', false);
                } else {
                    //fImpButton.prop('disabled', true);
                }
            }
        }
        impButtons.click(function (event) {
            var impButton = $(event.target);
            impButton.prop('disabled', true);
            var ti = impButton.attr('data-table-index');
            OrderF2ParsingResult.imp(ti);
        });
        return {
            imp: function (ti) {
                var pars = [];
                var trs = mainDiv.find('table[data-table-index="' + ti + '"] tr');
                // в первой строке надо найти отметки колонок по типу
                var colTypes = [];
                var tds = trs.eq(0).find('td');
                tds.each(function (index, element) {
                    if (index == 0) {
                        colTypes.push(0); // в первой колонке нет 'select'
                    } else {
                        colTypes.push($(element).find('select').val());
                    }
                });
                // для всех остальных строк собираем 7 полей
                var ri = 0;
                trs.each(function (rIndex, element) {
                    tds = $(element).find('td');
                    if (rIndex > 0 && tds.eq(0).find('input').prop('checked')) {
                        var vs = ['', '', '', '', '', '', '', '', '', '', '', ''];
                        // перебираем все колонки ('описание' - может встретиться несколько раз)
                        tds.each(function (cIndex, element) {
                            if (colTypes[cIndex] > 0) {
                                vs[colTypes[cIndex]] += (((vs[colTypes[cIndex]]) != '') ? ' ' : '') + $(element).text();
                            }
                        });
                        for (var ci = 0; ci < vs.length; ci++) {
                            pars.push({ Name: 't[' + ri + '][' + ci + ']', Value: vs[ci] });
                        }
                        ri++;
                    }
                });

                //alert(Nskd.Json.toString(pars)); return;

                OrderF2Index.setTableParameters(pars);
                //OrderF2Index.createOrderSpec();
                //mainDiv.empty();
                //mainDiv.text('Загрузка...');
            }
        };
    })();
</script>
