@using FarmSib.Base.Models
@model FarmSib.Base.Models.DataGridView
@if ((Model != null) &&
     (Model.Rows != null) && (Model.Rows.Count > 0) &&
     (Model.Columns != null) && (Model.Columns.Count > 0))
{
    Int32 ri;
    Int32 ci;
    <style type="text/css">
        div.DataGridViewEdit table.Data tr th {
            border: 1px solid black;
            padding: 2px;
            font-weight: bold;
            text-align: center;
        }

        div.DataGridViewEdit table.Data tr td {
            border: 1px solid black;
            padding: 2px;
        }

            div.DataGridViewEdit table.Data tr td div {
                margin-right: 4px;
            }

                div.DataGridViewEdit table.Data tr td div input {
                    width: 100%;
                }

        div.DataGridViewEdit table.Data tr.SelectedRow {
            background-color: #f8f;
        }

        div.DataGridViewEdit table.Data tr.DeletedRow {
            background-color: #f55;
        }
    </style>
    <div class="DataGridViewEdit" data-event-log="">
        <!-- место для управляющих кнопок -->
        <table class="Controls">
            <tr>
                <td><input type="button" value="<" onclick="DataGridViewEdit.movePrev(this);" style="width: 20px" /></td>
                <td><input type="button" value="" disabled="disabled" class="SelectedRowLabel" style="width: 20px" /></td>
                <td><input type="button" value=">" onclick="DataGridViewEdit.moveNext(this);" style="width: 20px" /></td>
                <td><input type="button" value="Добавить" onclick="DataGridViewEdit.add(this);" style="width: 80px" /></td>
                <td><input type="button" value="Удалить" onclick="DataGridViewEdit.del(this);" style="width: 80px" /></td>
                <td style="width: 20px">&nbsp;</td>
                <td><input type="button" value="Сохранить" onclick="DataGridViewEdit.save(this);" style="width: 80px" /></td>
            </tr>
        </table>
        <br />
        <table class="Data">
            <!-- первая строка это заголовок -->
            <tr class="DataGridViewEditRowHeader">
                @for (ci = 0; ci < Model.Columns.Count; ci++)
                {
                    DataGridColumn col = Model.Columns[ci];
                    if (col.IsVisible)
                    {
                        <th style="@col.HeaderCellStyle">@col.Caption</th>
                    }
                }
            </tr>
            @for (ri = 0; ri < Model.Rows.Count; ri++)
            {
                DataGridRow row = Model.Rows[ri];
                <tr @Html.Raw(row.GetAttributesAsHtmlString())
                    style="@row.Style"
                    class="DataGridViewEditRowBody"
                    onclick="DataGridViewEdit.selectRow(this);">
                    @for (ci = 0; ci < Model.Columns.Count; ci++)
                    {
                        DataGridColumn col = Model.Columns[ci];
                        if (col.IsVisible)
                        {
                            <td style="@col.DataCellStyle">
                                <div>
                                    <input type="text" onchange="DataGridViewEdit.changeCell(this);" value="@row[ci]" />
                                </div>
                            </td>
                        }
                    }
                </tr>
            }
        </table>
    </div>
    <script type="text/javascript">
        if (typeof DataGridViewEdit === 'undefined') {
            var DataGridViewEdit = (function () {
                function getMainDiv(element) {
                    var mainDiv = element;
                    while (!(mainDiv != null && mainDiv.nodeName == 'DIV' && mainDiv.getAttribute('class') == 'DataGridViewEdit')) {
                        mainDiv = mainDiv.parentNode;
                    }
                    return mainDiv;
                }
                return {
                    selectRow: function (row) {
                        var mainDiv = $(getMainDiv(row));
                        row = $(row);
                        mainDiv.find('.SelectedRow').removeClass('SelectedRow');
                        row.addClass('SelectedRow');
                        var trs = row.parent().find('tr');
                        var ri = trs.index(row);
                        mainDiv.find('.SelectedRowLabel').val(ri);
                    },
                    movePrev: function (button) {
                        var mainDiv = $(getMainDiv(button));
                        var row = mainDiv.find('.SelectedRow');
                        if (row.length) {
                            var trs = row.parent().find('tr');
                            var ri = trs.index(row);
                            if (ri > 1) {
                                row.removeClass('SelectedRow');
                                row = trs.eq(ri - 1);
                                row.addClass('SelectedRow');
                                mainDiv.find('.SelectedRowLabel').val(ri - 1);
                            }
                        }
                    },
                    moveNext: function (button) {
                        var mainDiv = $(getMainDiv(button));
                        var row = mainDiv.find('.SelectedRow');
                        if (row.length) {
                            var trs = row.parent().find('tr');
                            var ri = trs.index(row);
                            if (ri < (trs.length - 1)) {
                                row.removeClass('SelectedRow');
                                row = trs.eq(ri + 1);
                                row.addClass('SelectedRow');
                                mainDiv.find('.SelectedRowLabel').val(ri + 1);
                            }
                        }
                    },
                    add: function (button) {
                        var mainDiv = $(getMainDiv(button));
                        var header = mainDiv.find('.DataGridViewEditRowHeader');
                        var table = header.parent();
                        var trs = table.find('tr');
                        var ri = trs.length - 1;
                        var id = Nskd.Js.guid();
                        var row = $('<tr onclick="DataGridViewEdit.selectRow(this);" data-record-id="' + id + '">');
                        row.appendTo(table);
                        header.find('th').each(function (ci, element) {
                            var td = $('<td><div><input type="text" onchange="DataGridViewEdit.changeCell(this);" value="" /></div></td>');
                            td.appendTo(row);
                        });
                        var fileId = trs.eq(1).attr('data-file-id'); // так как всегда есть хоть одна строка 'ссылка'
                        var event = '{ cmd: "add", fileId: "' + fileId + '", recordId: "' + id + '" }';
                        mainDiv.attr('data-event-log', mainDiv.attr('data-event-log') + event + ', ');
                    },
                    del: function (button) {
                        var mainDiv = $(getMainDiv(button));
                        var row = mainDiv.find('.SelectedRow');
                        if (row.length) {
                            row.addClass('DeletedRow');
                            var id = row.attr('data-record-id');
                            var event = '{ cmd: "delete", recordId: "' + id + '" }';
                            mainDiv.attr('data-event-log', mainDiv.attr('data-event-log') + event + ', ');
                        }
                    },
                    changeCell: function (input) {
                        var mainDiv = $(getMainDiv(input));
                        var v = Nskd.Json.toString(input.value);
                        var tr = input;
                        while (!(tr != null && tr.nodeName == 'TR')) { tr = tr.parentNode; }
                        var id = $(tr).attr('data-record-id');
                        var header = mainDiv.find('.DataGridViewEditRowHeader');
                        var table = header.parent();
                        var trs = table.find('tr');
                        var fileId = trs.eq(1).attr('data-file-id'); // так как всегда есть хоть одна строка 'ссылка'
                        var ci = $(tr).find('td').index(input.parentNode.parentNode);

                        var event = '{ cmd: "change", fileId: "' + fileId + '", recordId: "' + id + '", columnIndex: ' + ci + ', value: ' + v + ' }';
                        mainDiv.attr('data-event-log', mainDiv.attr('data-event-log') + event + ', ');
                    },
                    save: function (button) {
                        var mainDiv = $(getMainDiv(button));
                        var log = mainDiv.attr('data-event-log');
                        mainDiv.attr('data-event-log', '');
                        if (log.length > 2) {
                            var json = '[ ' + log.substring(0, log.length - 2) + ' ]';
                            var rqp = {
                                SessionId: Nskd.Server.SessionId,
                                Command: 'DataGridViewEdit.Log.Exec',
                                Parameters: [
                                    { Name: 'log', Value: eval(json) }
                                ]
                            };
                            var data = Nskd.Json.toString(rqp);
                            //alert(data);
                            $.post('/Dgv', data, function (data) {
                                alert(data);
                            });
                        }
                    }
                };
            })();
        }
    </script>
}
