@using FarmSib.Base.Models
@model DataGridView
@if ((Model != null) &&
     (Model.Columns != null) && (Model.Columns.Count > 0))
{
    String id = String.Format("{0}", Model.Id);
    String srClass = "SelectedRow" + id;
    <style type="text/css">
        #@id th {
            border: 1px solid black;
            font-weight: bold;
            padding: 2px;
            text-align: center;
        }
        #@id td {
            border: 1px solid black;
            padding: 2px;
        }
        #@id tr:hover {
            background-color: #fdf;
        }
        #@id tr:first-child {
            background-color: transparent;
        }
        .@srClass {
            background-color: #fbf;
        }
    </style>
    <div id="@id">
        <table>
            <tr>
                @foreach (DataGridColumn col in Model.Columns)
                {
                    if (col.IsVisible)
                    {
                        <th style="@col.HeaderCellStyle">@col.Caption</th>
                    }
                }
            </tr>
            @foreach (DataGridRow row in Model.Rows)
            {
                <tr @Html.Raw(row.GetAttributesAsHtmlString())
                    style="@row.Style"
                    class="report-row"
                    onclick="@(id + "Cmd.selectRow(this);")">
                    @for (int ci = 0; ci < Model.Columns.Count; ci++)
                    {
                        DataGridColumn col = Model.Columns[ci];
                        if (col.IsVisible)
                        {
                            <td style="@col.DataCellStyle">
                                @if (row[ci] != null)
                                {
                                    switch (col.DataType.ToString())
                                    {
                                        case "System.DateTime":
                                            @row.ItemArray[ci].ToString()
                                            break;
                                        default:
                                        @row[ci]
                                            break;
                                    }
                                }
                            </td>
                        }
                    }
                </tr>
            }
        </table>
    </div>
    <script type="text/javascript">
        var @(id)Cmd = (function () {
            var src = '@srClass';
            return {
                selectRow: function (row) {
                    $('.' + src).removeClass(src);
                    $(row).addClass(src);
                    @if(ViewData["OnRowSelect"] != null) {
                        @Html.Raw(String.Format("eval('({0}(row))');", ViewData["OnRowSelect"]));
                    }
                }
            };
        })();
    </script>
}
