@using FarmSib.Base.Models
@model FarmSib.Base.Models.DataGridView
@if ((Model != null) &&
    (Model.Rows != null) && (Model.Rows.Count > 0) &&
    (Model.Columns != null) && (Model.Columns.Count > 0))
{
    String id = Model.Id.ToString();
    <style type="text/css">
        #p_prep_f1_head input {
            width: 500px;
        }
    </style>
    <div id="p_prep_f1_head">
        <form>
            <table>
                @for (int ci = 0; ci < Model.Columns.Count; ci++)
                {
                    DataGridColumn col = Model.Columns[ci];
                    <tr>
                        <td>@col.Caption</td>
                        <td>
                            @if ((Model.PrimaryKey.Count > 0) && (col.Id == Model.PrimaryKey[0].Id))
                            {
                                @Html.TextBox("f" + ci.ToString(), Model.Rows[0][ci].ToString(), new { disabled = "disabled" })
                            }
                            else
                            {
                                switch (col.DataType.ToString())
                                {
                                    case "System.Int32":
                                        <input type="text"
                                               name="@("f" + ci.ToString())"
                                               value="@(Model.Rows[0].ItemArray[ci])"
                                               onkeyup="setUpdateMark('@ci');"
                                               onchange="setUpdateMark('@ci');"
                                               data-val="true"
                                               data-val-number="" />
                                        break;
                                    case "System.DateTime":
                                    <input type="text"
                                           name="@("f" + ci.ToString())"
                                           value="@(Model.Rows[0].ItemArray[ci])"
                                           onkeyup="setUpdateMark('@ci');"
                                           onchange="setUpdateMark('@ci');"
                                           data-val="true"
                                           data-val-date="" />
                                        break;
                                    default:
                                    <input type="text"
                                           name="@("f" + ci.ToString())"
                                           value="@(Model.Rows[0].ItemArray[ci])"
                                           onkeyup="setUpdateMark('@ci');"
                                           onchange="setUpdateMark('@ci');" />
                                        break;
                                }
                            }
                        </td>
                        <td id="@Html.Raw("p_" + id + "_update_mark_" + ci.ToString())">&nbsp;</td>
                    </tr>
                }
            </table>
        </form>
    </div>
    <script type="text/javascript">
        function setUpdateMark(ci) {
            $('@Html.Raw("#p_" + id + "_update_mark_")' + ci.toString()).text('*');
        }

        function prepF1HeadSave() {
            data = '';
            $('#p_prep_f1_head input').each(function (index, element) {
                data += element.name + '=' + escape(element.value).replace(/\+/g, '%2B') + '&';
            });
            data = data.substring(0, data.length - 1);
            //alert(data);
            $.post('/Prep/F1/DetailSave', data, function (data) {
                alert('Сохранено. Надо обновить.');
                //PrepF0Filter.apply();
            });
        }
    </script>
}
